.product {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;
  margin: 10px;
  padding: 20px;
  width: 100%;
  max-height: 400px;
  min-width: 100px;
  background-color: white;
  z-index: 1;
  border: 1px solid #fcf9f9;
  background: #f3f4f5;
  border-radius: 4px;
}

.product > img {
  display: block;
  margin: 0 auto;
  max-height: 150px;
  width: 100%;
  object-fit: contain;
  margin-bottom: 15px;
}
.product_button {
  display: flex;
  background: #e6b039;
  border: 1px solid;
  padding: 7px;
  margin-top: 60px;
  color: #111;
  border: none;
  border-radius: 4px;
  transition: background-color 0.3s ease, border-color 0.3s ease;
}

.product_button:hover {
  background: #f7d684;
}
.product_price {
  display: flex;
  justify-content: center;
  margin-top: 4px;
}

.product_rating {
  display: flex;
  justify-content: center;
  margin-top: 2px;
}
.product_info {
  height: 100px;
  margin-bottom: 20px;
}
